.missions-table th,
.missions-table td {
  padding: 0.3rem;
  border: 1px solid #ddd;
  border: 1px solid #c4c4c4;
}

.missions-table th {
  text-align: left;
  font-size: 0.9em;
  background-color: #f2f2f2;
  font-weight: bold;
}

.missions-table td {
  font-size: 0.7em;
  text-align: left;
}

.statusBefore,
.joinBtn,
.statusAfter,
.leaveBtn {
  text-align: center;
  white-space: nowrap;
  border-radius: 3px;
  font-size: 0.7em !important;
  text-decoration: none;
  outline: none;
}

.statusBefore {
  padding: 0.1rem;
  background: #898585;
  color: #fff;
}

.statusAfter {
  padding: 0.1rem;
  background: #7d9f9f;
  color: #fff;
}

.joinBtn {
  padding: 0.3rem;
  color: #898585;
  border: solid 1px #898585;
}

.leaveBtn {
  padding: 0.3rem;
  color: red;
  border: solid 1px red;
}

/* Alternating row colors */
.missions-table tbody tr:nth-child(even) {
  background-color: #d3cfcf;
}

.missions-table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}
