table {
  border-collapse: collapse;
  font-family: arial, sans-serif;
  width: 98%;
  margin: 1rem;
}

tr:nth-child(even) {
  background-color: rgb(241, 241, 241);
}

.mission-name,
th {
  font-weight: 600;
}

.mission-description {
  font-size: 0.8rem;
}

td,
th {
  text-align: left;
  border: solid 1px rgb(223, 223, 223);
  /* vertical-align: top; */
  padding: 0.5rem;
}

.table-btns,
.table-badges {
  width: 12%;
  /* vertical-align: middle; */
  text-align: center;
}

.not-member-badge {
  padding: 0.2rem;
  background-color: rgb(105, 105, 105);
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 0.5rem;
  border: transparent;
}

.active-member-badge {
  padding: 0.2rem;
  background-color: rgb(57, 159, 255);
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 0.5rem;
  border: transparent;
}

.joinBtn {
  font-weight: 600;
  font-size: 0.6em;
  background: transparent;
  color: rgb(105, 105, 105);
  border: solid 2px;
  border-radius: 0.1rem;
}

.joinBtn.clicked{
  white-space: nowrap;
  font-size: 0.6em;
  color: red;
  padding: 0.2rem;
  background: transparent;
  font-weight: 600;
  border: solid 2px;
  border-radius: 0.1rem;
}

button {
  cursor: pointer;
}
