@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@200;300;400;500;600;700;800&family=Roboto+Slab:wght@100&family=Roboto:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

.navBar,
.navbuttons,
.navImg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navBar {
  padding: 0.5rem 2rem 0.2rem 1rem;
}

.navImg {
  align-items: flex-start;
  flex: 0.5;
}

.navImg img {
  align-self: flex-start;
  height: 26px;
}

.navbuttons {
  flex: 0.5;
  padding: 0.3rem 0.2rem;
  gap: 0.2rem;
  background: white;
}

.link {
  color: #121212;
  font-size: 0.7em;
}

.link:active {
  opacity: 0.5;
}

.link:active:focus {
  opacity: 0.5;
}
